.user-link{
  font-size: 20px;
  line-height: 15px;
  background-color: #FF7500;
  color: #fff;
  text-decoration: none;
}
.widget .widget-link{
  font-size: 20px;
  line-height: 15px;
  background-color: #FF7500;
  color: #Fff;
  text-decoration: none;
}
.naw .naw-list .naw-item{
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}
.naw-item .naw-link{
  text-decoration: none;
  color: #000;
}
.widget{
  background-color: #252420;
  color: #fff;
}
.widget-content{
  width: 390px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.down{
  background-color: #f9e9F9;
}
.hero{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.widget-title{
  width: 390px;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.news-content{
  width: 440px;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.news-title{
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.new-text{
  font-size: 16px;
  line-height: 1.5;
}
.news-item .news-img{
  width: 70px;
  height: 70px;
  background-color: rgba(255, 117, 0, 0.2);
}
.new-item{
  width: 340px;
}
.promo{
  color: #FF7500;
}
.true{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
.naw-list{
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
